# False postive, it's CC0-1.0 but contain license of the whole project
meson.build

# False positive, really BSD-3-Clause or GPL-2+
include/linux/videodev2.h

# These files contain the license texts
LICENSES/GPL-2.0-only.txt
LICENSES/GPL-2.0-or-later.txt
LICENSES/LGPL-2.1-or-later.txt

# False positive, really GPL-2.0-or-later but contain "LGPL-2.1-or-later"
utils/codegen/gen-header.sh
utils/gen-shader-headers.sh
